<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Playlah | Courts</title>
</head>
<body>
    <p>One hour interval only</p>
    <form action="/search/submit" method="POST" id="form">
        <label for="venue">Choose a venue:</label>
            <select id="venue" name="venue">
                <option value="KTDI">KTDI</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
            </select>
        <label for="date">Date:</label>
        <input type="date" name="date" required id="date"/>
        <label for="time-start">Start time</label>
        <input type="number" min="10" max="22" id="time-start" name="timestart" required />
        <label for="time-end">End Time</label>
        <input type="number" min="10" max="22" id="time-end" name="timeend" required/>
        
        <input type="submit">
    </form>

    <!-- function to format date to dd/mm/yy -->
    <% function formatDate(value) { %>
        <% let date = new Date(value); %>
        <% const day = date.toLocaleString('default', { day: '2-digit' }); %>
        <% const month = date.toLocaleString('default', { month: 'short' });%>
        <% const year = date.toLocaleString('default', { year: 'numeric' }); %>
        <% return day + '-' + month + '-' + year;%>
    <% } %>

    <% for (let i = 1; i <=  venueDetails.max_courts; i++) { %>
        <% if (!(bookedCourtNum.includes(i))) { %>
            <div class="court-details">
                <div class="title"><%= venueDetails.venue %> <%= venueDetails.sport %> court</div>
                <div class="court-num">Court : <%= i %></div>
                <div class="court-date">Date : <%= formatDate(courtDetails.date) %></div>
                <div class="court-time">Time : <%= courtDetails.timestart %> - <%= courtDetails.timeend %></div>
            </div>
        <% } %>
    <% } %>
    <script>
        
    </script>
</body>
</html>